.box{
    border-radius: 6px;
    height: 50px;
    width: 80px;
    margin: 60px auto;
}

body{
    background-color: lightskyblue;
}

.box1{
    background-color: mediumorchid;
}

.box2{
    background-color: mediumvioletred;
/*transition: all;
transition-duration: 3s;*/
    transition: all 3s ease;
}

.box:hover{
    transform: scale(4);
}

.circle1, .circle2, .circle3, .circle4, .circle5{
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin: 20px;
}

.circle1{
    background-color: cornflowerblue;
    transition: all 3s ease;
}

.circle2{
    background-color: crimson;
    transition: all 3s ease-in;
}

.circle3{
    background-color: blue;
    transition: all 3s ease-in-out;
}

.circle4{
    background-color: blueviolet;
    transition: all 3s ease-out;
}

.circle5{
    background-color: darkorange;
    transition: all 3s step-end;
}

.container-circle:hover.circle1,
.container-circle:hover.circle2,
.container-circle:hover.circle3,
.container-circle:hover.circle4,
.container-circle:hover.circle5{
    transform: translate(300px, 300px);
}

.square1, .square2{
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin: 200px;
    position: absolute;
}

.square1{
    background-color: teal;
}
.square2{
    background-color: aqua;
    transition: all 2s;
}

.square2:hover{
    transform: translate(40px, 40px);
}

img:hover{
    animation: vincent, 4s;
}

@keyframes vincent{
    0%{
        transform: translateX(400px);
    }
    25%{
        transform: rotate (2);
    }
    50%{
        border-radius: 10px;
    }
    75%{
        transform: translateY(200px);
    }
}